$colorprincipal: rgba(43, 42, 42, 0.84);
$colorsecundario: #1197bc;
$colortres:rgb(255, 255, 255);
$colorcuatro: rgb(0, 0, 0);
$redes:(facebook:#4478e9d7 ,instagram: #bb2060c4, twitter:#0026ffbc);
$anchor: 30px;
$altor: 30px;
$fondo: url("https://as2.ftcdn.net/v2/jpg/04/61/47/03/1000_F_461470323_6TMQSkCCs9XQoTtyer8VCsFypxwRiDGU.jpg");
